# Exercise 4.7 Deriving New Variables

## This script contains the following:
1. Importing Libraries and Data Files
2. Deriving New Variables
3. Exporting Dataframes

# 1. Importing Libraries and Data Files

In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create a string of the path for the main project folder
path = r'C:\Users\Ryan\Documents\07-17-2023 Instacart Basket Analysis'

In [3]:
# Import the “orders_products_merged.pkl” data set using the os library
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
# Check the output
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

In [5]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 13)

# 2. Deriving New Variables

#### If you haven’t done so already, complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.

#### Create 'price_label' column in df_ords_prods_merge

In [6]:
# Create 'low-range product' condition
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range'] = 'Low-range product'

In [7]:
# Create 'mid-range product' condition
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range'] = 'Mid-range product'

In [8]:
# Create 'high-range product' condition
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range'] = 'High-range product'

In [9]:
# Check 'price_range_loc' frequencies
ords_prods_merge['price_range'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range, dtype: int64

In [10]:
# Check the output
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product

In [11]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 14)

#### Create 'busiest day' column in df_ords_prods_merge

In [12]:
# Obtain frequencies for 'orders_day_of_week' column
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

0 (or Saturday) is the busiest day, whereas 4 (or Wednesday) is the least busy day

For the purpose of learning, a for-loop will be used to create the busiest_day labels. However, for-loops lose their efficiency when the data is very large. Use .loc for more efficiency.

In [13]:
# Categorize orders_day_of_week values using a for-loop
result = []
for value in ords_prods_merge["orders_day_of_week"]:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    else: result.append("Regularly busy")

In [14]:
# Add column 'busiest_day' to df_ords_prods_merge with values from result list
ords_prods_merge['busiest_day'] = result

In [15]:
# Obtain frequencies for 'busiest day' column
ords_prods_merge['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [16]:
# Check the output
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy

In [17]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 15)

#### Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

From the frequency check before, 0 and 1 (or Saturday and Sunday) are the busiest days, whereas 3 and 4 (or Tuesday and Wednesday) are the slowest days.

In [18]:
# Create 'busiest_days' that assigns 'Busiest day' label
ords_prods_merge.loc[ords_prods_merge['orders_day_of_week'].isin([0, 1]), 'busiest_days'] = 'Busiest day'

In [19]:
# Create 'busiest_days' that assigns 'Regularly busy' label
ords_prods_merge.loc[ords_prods_merge['orders_day_of_week'].isin([6, 2, 5]), 'busiest_days'] = 'Regularly busy'

In [20]:
# Create 'busiest_days' that assigns 'Least busy' label
ords_prods_merge.loc[ords_prods_merge['orders_day_of_week'].isin([3, 4]), 'busiest_days'] = 'Least busy'

#### Check the values of this new column for accuracy. Note any observations in markdown format.

In [21]:
# Obtain frequencies for 'busiest days' column
ords_prods_merge['busiest_days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest day       11864412
Least busy         7624336
Name: busiest_days, dtype: int64

In [22]:
# Check the output
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy

In [23]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 16)

The 'busiest_days' column have fewer 'regularly busy' values, and more 'least busy' and 'busiest day' values, which makes sense by the adjustment. The dataframe appears to be correct.

#### When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [24]:
# Obtain frequencies for 'order_hour_of_day' column
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

The top 8 frequencies will be labeled "Most orders". The middle 8 frequencies will be labeled "Average orders". The last 8 frequencies will be labeled "Fewest orders"

In [25]:
# Create 'busiest_period_of_day' that assigns 'Most orders' label
ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'].isin([10, 11, 14, 15, 13, 12, 16, 9]), 'busiest_period_of_day'] = 'Most orders'

In [26]:
# Create 'busiest_period_of_day' that assigns 'Average orders' label
ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'].isin([17, 8, 18, 19, 20, 7, 21, 22]), 'busiest_period_of_day'] = 'Average orders'

In [27]:
# Create 'busiest_period_of_day' that assigns 'Fewest orders' label
ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'].isin([23, 6, 0, 1, 5, 2, 4, 3]), 'busiest_period_of_day'] = 'Fewest orders'

In [28]:
# Check the output
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Most orders

In [29]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 17)

#### Print the frequency for this new column

In [30]:
# Obtain frequencies for 'busiest_period_of_day' column
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

# 3. Exporting Dataframes

In [31]:
ords_prods_merge.dtypes

order_id                   uint32
user_id                    uint32
order_number                uint8
orders_day_of_week          uint8
order_hour_of_day           uint8
days_since_prior_order    float32
product_id                 uint16
add_to_cart_order           uint8
reordered                   uint8
product_name               object
aisle_id                    uint8
department_id               uint8
prices                    float32
price_range                object
busiest_day                object
busiest_days               object
busiest_period_of_day      object
dtype: object

#### Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [32]:
# Drop 'busiest_day' column from df_ords_prods_merge
ords_prods_merge = ords_prods_merge.drop(columns = ['busiest_day'])

In [33]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 16)

In [34]:
# Export df_merged dataframe as "orders_products_merged.pkl"
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))