# Exercise 4.6 Combining and Exporting Data (Part 1)

## This script contains the following:
1. Importing Libraries and Data Files
2. Consistency Checks on orders_products_prior.csv Data
3. Converting Data Types for Optimal Performance
4. Merging Dataframes
5. Exporting Dataframes

# 1. Importing Libraries and Data Files

In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create a string of the path for the main project folder
path = r'C:\Users\Ryan\Documents\07-17-2023 Instacart Basket Analysis'

In [3]:
# Import the “orders_products_prior.csv” data set using the os library
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
# Import the “orders_checked.csv” data set using the os library
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [5]:
# Check the output of df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [6]:
# Drop 'Unnamed: 0' column from df_ords dataframe
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [7]:
# Check the dimensions of df_ords
df_ords.shape

(3421083, 6)

# 2. Consistency Checks on orders_products_prior.csv Data

In [9]:
# Check the output
df_ords_prior.head(50)

    order_id  product_id  add_to_cart_order  reordered
0          2       33120                  1          1
1          2       28985                  2          1
2          2        9327                  3          0
3          2       45918                  4          1
4          2       30035                  5          0
5          2       17794                  6          1
6          2       40141                  7          1
7          2        1819                  8          1
8          2       43668                  9          0
9          3       33754                  1          1
10         3       24838                  2          1
11         3       17704                  3          1
12         3       21903                  4          1
13         3       17668                  5          1
14         3       46667                  6          1
15         3       17461                  7          1
16         3       32665                  8          1
17         4       46842                  1          0
18         4       26434                  2          1
19         4       39758                  3          1
20         4       27761                  4          1
21         4       10054                  5          1
22         4       21351                  6          1
23         4       22598                  7          1
24         4       34862                  8          1
25         4       40285                  9          1
26         4       17616                 10          1
27         4       25146                 11          1
28         4       32645                 12          1
29         4       41276                 13          1
30         5       13176                  1          1
31         5       15005                  2          1
32         5       47329                  3          1
33         5       27966                  4          1
34         5       23909                  5          1
35         5       48370                  6          1
36         5       13245                  7          1
37         5        9633                  8          1
38         5       27360                  9          1
39         5        6348                 10          1
40         5       40878                 11          1
41         5        6184                 12          1
42         5       48002                 13          1
43         5       20914                 14          1
44         5       37011                 15          1
45         5       12962                 16          1
46         5       45698                 17          1
47         5       24773                 18          1
48         5       18569                 19          1
49         5       41176                 20          1

In [9]:
# Check the dimensions
df_ords_prior.shape

(32434489, 4)

In [10]:
# Find missing values in df_prods
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

No missing values found.

In [11]:
# Check for duplicates
df_ords_prior[df_ords_prior.duplicated()]

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

No duplicates found.

# 3. Converting Data Types for Optimal Performance

#### Convert data types in df_ords

In [12]:
# Check the data types in df_ords
df_ords.dtypes

order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [13]:
# Obtain summary statistics of df_ords
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [14]:
# Change the data type of 'order_id' to 32-bit unsigned integer
df_ords['order_id'] = df_ords['order_id'].astype('uint32')

In [15]:
# Change the data type of 'user_id' to 32-bit unsigned integer
df_ords['user_id'] = df_ords['user_id'].astype('uint32')

In [16]:
# Change the data type of 'order_number' to 8-bit unsigned integer
df_ords['order_number'] = df_ords['order_number'].astype('uint8')

In [17]:
# Change the data type of 'orders_day_of_week' to 8-bit unsigned integer
df_ords['orders_day_of_week'] = df_ords['orders_day_of_week'].astype('uint8')

In [18]:
# Change the data type of 'order_hour_of_day' to 8-bit unsigned integer
df_ords['order_hour_of_day'] = df_ords['order_hour_of_day'].astype('uint8')

In [19]:
# Change the data type of 'order_hour_of_day' to 32-bit float
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].astype('float32')

#### Convert data types in df_ords_prior

In [20]:
# Check the data types in df_ords_prior
df_ords_prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [21]:
# Obtain summary statistics of df_ords_prior
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [22]:
# Change the data type of 'order_id' to 32-bit unsigned integer
df_ords_prior['order_id'] = df_ords_prior['order_id'].astype('uint32')

In [23]:
# Change the data type of 'product_id' to 16-bit unsigned integer
df_ords_prior['product_id'] = df_ords_prior['product_id'].astype('uint16')

In [24]:
# Change the data type of 'add_to_cart_order' to 8-bit unsigned integer
df_ords_prior['add_to_cart_order'] = df_ords_prior['add_to_cart_order'].astype('uint8')

In [25]:
# Change the data type of 'reordered' to 8-bit unsigned integer
df_ords_prior['reordered'] = df_ords_prior['reordered'].astype('uint8')

# 4. Merging Dataframes

#### If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

In [26]:
# Merge the imported data sets
ords_prods_merge = df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner', indicator = True)

In [27]:
# Check the output
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [28]:
# Obtain frequencies from '_merge' column
ords_prods_merge['_merge'].value_counts(dropna = False)

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [29]:
# Drop '_merge' column from ords_prods_merge
ords_prods_merge = ords_prods_merge.drop(columns = ['_merge'])

In [30]:
# Check the dimensions of df_merged dataframe
ords_prods_merge.shape

(32434489, 9)

In [31]:
# Check the data types in ords_prods_merge
ords_prods_merge.dtypes

order_id                   uint32
user_id                    uint32
order_number                uint8
orders_day_of_week          uint8
order_hour_of_day           uint8
days_since_prior_order    float32
product_id                 uint16
add_to_cart_order           uint8
reordered                   uint8
dtype: object

# 5. Exporting Dataframes

#### Export the merged file in pickle format as “orders_products_combined.pkl”.

In [32]:
# Export df_merged dataframe as "orders_products_combined.pkl"
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))